
.row{
    margin: 0px;
    padding: 0px;
}
.display-flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-centerr{
    text-align: center;
}
.container-fluid{
    padding: 0px;
}
.header{
    background-color: #fd602c;
    padding: 20px 0px;
    height: 70px;
    font-size: 16px;
    color: white;
}

.display-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .headerFirst{
    

} */
.headerList{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.display-inline{
    display: inline;
}
.header-link{
    color: white;
    transition: .6s;
    text-decoration: none;
}
.header-link:hover{
    color: black;
    text-decoration: none;  
}
.iconLogo{
    width: 35px;
    height: 35px;
    border: 1px solid none;
    border-radius: 100%;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fd602c;
    font-size: 20px;
    color: white;
    margin: 0px;
}
.logoH1{
    font-size: 35px;
}

.navBar{
    height: 80px;
    position: relative;
    width: 100%;
    background-color: white;
    z-index: 1000;
}
.navbarList{
    height: 80px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-top: 30px;
    
}
/* .listDiv{
    padding-top: 40px;
} */
.align-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropDownList{
    position: absolute;
    padding:0px 3rem;
    top: 100%;
    background-color: rgb(228, 228, 228);
    list-style-type: none;
}
.dropDownList1{
    display: none;
    left: 4%;
}
.homeDropDown:hover{
    cursor: pointer;
}
.homeDropDown:hover .dropDownList1{
    display: block;
   
}
.dropDownLi{
    padding: 5px 0px;
}
.dropDownA{
    text-decoration: none;
    color: gray;
    transition: .3s;
}
.dropDownA:hover{
    text-decoration: none;
    color: black;
}
.layoutsDropDown i{
    padding-right: 5px;
    font-size: 15px;
}
.dropDownList2{
    left: 16%;
    display: none;

}
.dropDownList2 li{
    color: gray;
    padding: 5px 0px;
    transition: .3s
}
.dropDownList2 li:hover{
    color: black;
    transform: translateX(10px);
    cursor: pointer;

}
.layoutsDropDown:hover{
    cursor: pointer;
}
.layoutsDropDown:hover .dropDownList2{
    display: block;
}
.pagesDropUl{
    
    list-style-type: none;
}
.pagesDropUl i{
    font-size: 15px;
    margin-right: 5px;
}
.pagesDropUl li{
    color: gray;
    padding: 5px 0px;
    transition: .3s
}
.pagesDropUl li{
    color: gray;
    padding: 5px 0px;
    transition: .3s;
    cursor: pointer;
}
.pagesDropUl li:hover{
    color: black;
    transform: translateX(10px)
}
.pagesDropParentDiv{
    display: flex;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 100%;
    left: -15%;
    transition: 1s;
   
}
.pagesDropDown:hover{
    cursor: pointer;
}
.pagesDropDown:hover .pagesDropDownRow{
    display: block;
   
    
}
.pagesDropDownRow{
    display: none;
}
.AboutMainOne{
    height: 300px;
    background-image: url(../img/ph1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.AboutMainOne2{
    padding: 20px 0px;
    border-bottom: 1px solid rgb(187, 187, 187);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AboutMainOne2 h3,ul{
    display: inline;
}
.AboutMainOne2 ul{
    list-style-type: none;
    display: flex;

}
.AboutMainOne2 ul a{
    color: black;
}
.AboutMainOne2 ul a:hover{
    cursor: pointer;
    text-decoration: none;
}
.aboutMainTwo1 span{
    color: #fd602c;
}
.aboutMainTwo1{
    padding: 80px 0px;
}
.aboutMainTwo1 p{
    width: 100%;
}
/* .aboutMainTwo2Bg{
    height: 500px;
    background-image: url(../img/ph2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */
.aboutMainTwo2 img{
    width: 100%;
}
.aboutMainTwo2ImgDiv{
    padding-left: 0px;
}

.aboutMainTwo2Heading p{
color: #fd602c;
font-size: 22PX;
}
.aboutMainTwo2p{
    margin-bottom: 30px;
    font-size: 15px;
    color: gray;
}
/* .buttonHover{
    border:1px hidden;
    background-color: #fd602c
} */
.buttonA{
   
    color: white;
    padding: 12px 18px;
    background-color: #fd602c;
    transition: .5s;
    border-radius: 4%;
}
.buttonA:hover{
    color: white;
    text-decoration: none;
    background-color: black;
}
.buttonDiv{
    margin-top: 9.8%;
}
/* .aboutMainTwo2Second{
    display: flex;
    flex-direction: column;
    align-items: stretch
}  */
.aboutMain3{
   position: relative;
    height: 500px;
    /* padding: 100px 0px; */
    background-image: url(../img/ph3.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.aboutMain3::after{
    background-color: rgba(0, 0, 0, 0.658);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
  
}
.aboutMain3 div{
    /* position: absolute; */
    color: white;
    z-index: 1;
}
.aboutMain3 h1,p,span{
    display: inline;

}
.aboutMain3 span{
    color: #fd602c;
}
.aboutMain4Section{
    background-color: #f6f6f6;
    padding-top: 80px;
}
.aboutMain4Section h1{
    font-size: 25px;
}
.click{
    
    position: relative;
    background-color: white;
    padding: 10px 0px;
    font-size: 20px;
    padding-left: 20px;
}
.click:hover{
    cursor: pointer;
}
.minus,.plus{
    position: absolute;
    left: 80%;
}
.accardion-hidden{
    height: 0;
    overflow: hidden;
    transition: .5s;
}
.active{
    height: 100px;
    transition: .5s;
}
.opacityPlus{
    opacity: 0
}
.ourSkills{
   padding: 9px 0px;
   padding-left: 10px;
   background-color: white;
   margin-bottom: 30px;
   position: relative;
}
.ourSkills p{
    font-size: 14px;
    z-index: 1;
    margin: 0px;
    color: white;
}
.progress1 div{
 content: "";
 height: 100%;
 width: 80%;
 position: absolute;
 left: 0;
 top: 0;
 background-color: #fd602c;
}
.progress2 div{
    content: "";
    height: 100%;
    width: 90%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fd602c;
   }
   .progress3 div{
    content: "";
    height: 100%;
    width: 70%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fd602c;
   }
   .progress4 div{
    content: "";
    height: 100%;
    width: 75%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fd602c;
   }
   .peopleSays img{
    border :5px solid #fd602c;
    border-radius: 100%;
   }